# qeframework .gitignore
#
# Top level files and directories
#
/bin/
/lib/
/include/

/_pro
/_pso

# intermediate build files.
#
O.Common/
O.linux-x86_64/
O.linux-x86/
O.windows-x64/
O.win32-x86/
O.win32-x86-mingw/
O.windows-x64-mingw/
.qtc_clangd/
.cache/
*.o
*.exe
*.linux-x86_64
*.linux-x86
*.local
*.creator.user
*.pro.user
Makefile.*
object_script.*
*.backup
*.qmake.stash
*.idx

# created by protoc
archapplDataSup/src/archapplProto.pb.h

# work in progress and temp files.
#
*/wip/
*-wip/
*-wip.h
*-wip.cpp
*~
*.kate-swp

# end
