O.Common/
O.linux-x86_64/
O.linux-x86/
O.windows-x64/
O.win32-x86/
O.win32-x86-mingw/
O.windows-x64-mingw/
bin/
lib/
include/
*.o
*.exe
*.linux-x86_64
*.linux-x86
*.local
*.creator.user
*.pro.user
Makefile.*
object_script.*
*.qmake.stash
# created by protoc
archapplDataSup/src/archapplProto.pb.h
*~
